Q1) Explain with an example each when to use a for loop and while loop

for loop is ist data is print and than condition is checked that it is True or False.

In [33]:
## Example of for loop adding three range

sum=0
for i in range(3):
    sum=sum+i
print(sum)

3

In while loop first condition is checked and if conditon is true then loop is started.

In [38]:
## Example of while loop adding three number

sum=0
i=1
while i<=3:
    sum=sum+i
    i += 1
print(sum)

6

In [1]:
##sum the 10 natual number by for and while loop

In [49]:
sum=0
for i in range(1,11):
    sum=sum+i
print("The sum of the first 10 natural numbers is:", sum )

The sum of the first 10 natural numbers is: 55

In [16]:
sum=0
i = 1

while i <= 10:
      sum=sum+i
      i += 1
print("The sum of the first 10 natural numbers is:",sum)

The sum of the first 10 natural numbers is: 55

In [18]:
## Product the 10 natual number by for and while loop

In [46]:
## for loop
product=1
for i in range(1,11):
    product*=i
print("The product of the first 10 natural numbers is:", product )

The product of the first 10 natural numbers is: 3628800

In [43]:
## while loop
product=1
i=1
while i<=10:
    product*=i
    i+=1
print("The product of the first 10 natural numbers is:", product )

The product of the first 10 natural numbers is: 3628800

In [ ]:
##Q 4) Create a list of numbers from 1 to 100.Use for and while loop to calculate the cube of 
each number and if the cube of that number is divisible by 4 or 5 then append that number 
in a list and print that list

In [50]:
numbers = list(range(1, 101))
result = []

for num in numbers:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        result.append(num)

print("Numbers whose cube is divisible by 4 or 5:", result)

Numbers whose cube is divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [52]:
num_list = list(range(1, 101))
cubes_list = []

i = 0
while i < len(num_list):
    cube = num_list[i] ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_list.append(num_list[i])
    i += 1

print(cubes_list)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q-3)Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [56]:
units = int(input("Enter the units of electricity consumed: "))

if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print(f"The electricity bill for {units} units is Rs. {bill:.2f}")

Enter the units of electricity consumed:  310

The electricity bill for 310 units is Rs. 2250.00

## Q-5) Write a programe to filter count vowels in the below- given string.
string="I want to become a data scientist"

In [57]:
string = "I want to become a data scientist"
vowels = "aeiou"
vowel_count = 0

string = string.lower()

for char in string:
    if char in vowels:
        vowel_count += 1

print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 12